{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Recent Posts</h4>
                <h2>Our Recent Blog Entries</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->

    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                {% for blog in blogs  %}
                  <div class="col-lg-6">
                    <div class="blog-post">
                      <div class="blog-thumb">
                        <img src="{{blog.banner.url}}" alt="">
                      </div>
                      <div class="down-content">
                        <span>{{blog.category.title}}</span>
                        <a href="#"><h4>{{blog.title}}</h4></a>
                        <ul class="post-info">
                          <li><a href="#">{{blog.user.username}}</a></li>
                          <li><a href="#">{{blog.created_date}}</a></li>
                          <li><a href="#">{{blog.blog_comments.all.count}} Comments</a></li>
                        </ul>
                        <p>{{blog.description | truncatewords:20}}</p>
                        <div class="post-options">
                          <div class="row">
                            <div class="col-lg-12">
                              <ul class="post-tags">
                                <li><i class="fa fa-tags"></i></li>
                                {% if blog.tags.all.count > 0 %}
                                  {% for tag in blog.tags.all %}
                                    {% if not forloop.last %}
                                      <li><a href="#">{{tag.title}}</a>,</li>
                                    {% else %}
                                      <li><a href="#">{{tag.title}}</a></li>  
                                    {% endif %}
                                  {% endfor %}
                                {% else %}
                                  None  
                                {% endif %}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                <div class="col-lg-12">
                  {% include 'includes/pagination.html' %}
                </div>
              </div>
            </div>
          </div>
          {% include 'layouts/sidebar.html' %}
        </div>
      </div>
    </section>
{% endblock content %}
    
